<div>
    <strong>Hello</strong><p> <%= @leave.user.email %>!</p>
    <strong>Your leave requested has been</strong><p> <%= @leave.status %></p>
    <p>If you didn't request this, please ignore this email.</p>
</div>


