

<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to "Grep Ruby Adminstration", root_path,:class=>"navbar-brand"%>
            </div>
            <div class="navbar-collapse collapse tab-right">
              <ul class="nav navbar-nav center"  >
              <% if user_signed_in? %>
                <li class="navbar-brand">Hi <%= current_user.first_name %></li>
                 <li><a href="javascript:void(0)"><%= link_to "Sign out", destroy_user_session_path , method: :DELETE %></a></li>
                  <%end%>
                  <% if !user_signed_in? %>
                <li class="active"><a href="/users/sign_in">Sign in</a></li>
                 <%end%>            
                
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

